*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Navpage{
    background-color: rgb(4, 196, 4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    

}
.firstdiv{
    color: #fff;
    position: relative;
    left: 160px;
    text-transform: capitalize;
    font-weight: 600;
}
.firstdiv .para1{
    position: relative;
    right: 120px;
    
    height: 37px;
    width: 120px;
}
.firstdiv :hover{
    cursor: pointer;
    color: aqua;
    box-shadow: white;
}
.seconddiv{
    display: flex;
    justify-content: space-between;
}
.seconddiv a{
    padding: 20px 50px;
    margin-left: 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    
    border-radius: 30%;
    width: 70px;
    height: 10%;
   
}
.seconddiv a:hover{
    text-decoration: underline;
    color: aqua;
    cursor: pointer;
}
.div2{
    
    display: flex;
    flex-direction: row;
    color:rgb(4, 196, 4); 
    
}
.div2 .div4{
    position: relative;
    right: -60px;
    bottom: -90px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.div4 h2{
    position: relative;
    left: -40px;
    border-bottom: 1px solid rgba(68, 53, 53, 0.196);
    
}
.div4 p{
    position: relative;
    top: 10px;
    left: -30px;

}
.div2 h3{
    text-transform: uppercase;
    padding: 90px 60px;
    word-spacing: 3px;
    
    

}
div .div4 button{
    position: relative;
    top: 30px;
    right: 30px;
    color:#fff;
    background-color:rgb(4, 196, 4); 
    padding: 10px 40px;
    border-radius: 40px;
}
.div2 img{
    width: 100%;
    height: 420px;
    position: relative;
    top: 15px;
    
}
.footerdiv{
   
    height: 100%;
    background-color:rgb(4, 196, 4); 
    display: flex;
    justify-content: space-between;
    color: white;

    position: relative;
    top: 0px;
   
    padding: 50px 60px;
    text-transform: capitalize;
    
}
.footerdiv :hover{
    text-decoration: underline;
    color: aqua;
    box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.786);
}

.agent{
    display: flex;
    flex-direction: row;
}
.agent1 {
    display: grid;
}
.agent1 input{
    background: none;
    border: none;
    font-weight: 800;
    color: #fff;
    background-color:rgb(4, 196, 4);  
    height: 70px; 
    width: 400px;
    margin-right: 80%;
    box-shadow: 0px 2px 2px 4px rgba(237, 234, 243, 0.786),
                0px 2px 2px 4px rgba(255, 255, 255, 0.786);
}
.agent1 input[value='Dashboard']:hover{
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    
}
.agent1 input[value='Tracking']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='Historique']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='parametre']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}

.agent1 input[value='docs']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}

.agent1 input[value='contactez-nous']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='historique']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='notifications']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='Enregistrement expediteur']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}
.agent1 input[value='Mis a jour du vol']:hover{
    height: 80px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 20px 20px 10px rgb(96, 195, 96),
                   16px 2px 16px 16px rgb(4, 196, 4); 
    cursor: pointer;
    background-color: white;
    color: rgb(62, 193, 6);
    font-weight: bolder;
    
    
}


.agent img{
    width: 800px;
    height: 430px;
}
.general{
    display: none;

    margin-left: 40px;
    position: relative;
    right: -30px;
    top: 60px;
    color: #fff;
    background-color:rgb(62, 193, 6); 
    height: 300px;
    width: 500px;
    border-radius: 16px;    

}
.general .expedition{
    margin-right: 70px;
    margin-left: 70px;
    padding-top: 20px;
    padding-right: 250px;
    padding-left: -20px;
    display: grid;
}
.general .expedition h1{
    position: relative;
    right: 30px;
}
.general .expedition .malo{
    background-color: #fff;
    border-radius: 16px;
    display: grid;
    color: green;
    position: relative;
    bottom: 80px;
    right: 30px;
    font-weight: 600;
}
.general .expedition .malo p{
    padding-top: 10px;
    margin-left: 10px;
}

.general .livraison{
    display: grid;
    position: absolute;
    left: 300px;
    top: 20px;
    font-weight: 600;
}
.general .livraison .malo2{
    display: grid;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    height: 140px;
    width: 150px;
    display: grid;
    color: green;
    position: relative;
    top: 20px;
}

.general .livraison .malo2 :first-child,.general .livraison .malo2:last-child{
    padding-top: 10px;
    padding-left: 10px;
}
.general .livraison .malo2 :first-child{
    position: relative;
    right: 10px;
    bottom: 10px;
}
.general .livraison .malo2:last-child{
    position: relative;
    bottom: 6px;

}

.updatevol{
    display: none;/*grid*/
    border-radius: 20px;
    color: #fff;
    background-color: rgb(62, 193, 6);
    height: 200px;
    width: 400px;
    position: relative;
    left: 100px;
    top: 80px;
    
}
.updatevol p{
    position: relative;
    top: 25px;
    left: 20px;  
}
table {
    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 850px;
    height: 450px;
  }
  th,.mobile2{
      color: rgb(62, 193, 6) !important;
  }
  
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    background-color: rgb(62, 193, 6) !important;
    color: white;
  }


.tablearray{
    display: none;
}
.record{
    visibility: hidden;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(62, 193, 6);
    height: 200px;
    width: 400px;
    position: relative;
    left: 100px;
    top: 80px;
}
.record p{
    position: relative;
    left: 20px;
    top: 10px;
    margin-bottom: 20px;
}